.footer {
  & {
    background: #a19c9c;
  }
  &__wrapper {
    display: grid;
    grid-template-areas: "a a a";
    justify-content: space-around;
    padding: 58px 0;
  }

  @media (max-width: 768px) {
    &__wrapper {
      text-align: center;
      grid-template-areas:
        "a"
        "b"
        "c";
    }
  }

  @media (max-width: 640px) {
    &__wrapper {
      padding: 28px 0;
    }
  }

  &__info {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
  }

  @media (max-width: 768px) {
    &__info {
      grid-area: c;
    }
  }

  &__list {
    font-family: "Open Sans";
    font-style: normal;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 1.5px;
    color: #fff;
  }

  &__list:hover {
    text-decoration: underline;
  }

  &__contacts {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
  }

  @media (max-width: 768px) {
    &__contacts {
      grid-area: b;
    }
  }

  @media (max-width: 420px) {
    &__contacts {
      grid-template-rows: repeat(2, 1fr);
    }
  }

  &__connection {
    font-family: "Open Sans";
    font-style: normal;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 1.5px;
    color: #fff;
  }

  @media (max-width: 420px) {
    &__connection-none {
      display: none;
    }
  }

  &__social {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
      "a a a a"
      "b c d e";
  }

  @media (max-width: 768px) {
    &__social {
      grid-area: a;
    }
  }

  @media (max-width: 420px) {
    &__social {
      display: none;
    }
  }

  &__name {
    font-family: "Open Sans";
    font-style: normal;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 1.5px;
    color: #fff;
    grid-area: a;
  }

  &__link {
    margin-right: 10px;
  }

  &__linkOne {
    grid-area: b;
  }

  &__linkTwo {
    grid-area: c;
  }

  &__linkThree {
    grid-area: d;
  }

  &__linkFour {
    grid-area: e;
  }

  &__link:last-child {
    margin-right: 0;
  }

  &__pic {
    cursor: pointer;
  }

  &__pic:hover {
    content: "";
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid #271f1f;
  }
}
