.social {
  &__name {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: #555555;
    margin-bottom: 12px;
  }
}
