.care {
    &__item {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 28px
    }

    &__title {
        font-family: "Open Sans";
        font-weight: 600;
        font-size: 36px;
        line-height: 39px;
        color: #555555;
        text-align: center;
        margin-bottom: 40px;
        text-align: center;
    }
}