.cart {
  &__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }

  &__column {
    background: #e5e5e5;
  }

  &__minus {
    font-size: 16px;
    border: 1px solid red;
    height: 35px;
    width: 30px;
    cursor: pointer;
  }

  &__number {
    margin: 0;
    appearance: none;
    font-size: 16px;
    height: 35px;
    width: 45px;
    border: 1px solid red;
  }

  &__plus {
    font-size: 16px;
    border: 1px solid red;
    height: 35px;
    width: 30px;
    cursor: pointer;
  }

  &__title {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 24px;
    color: #555555;
  }

  &__product {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  &__name {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #555555;
  }

  &__price {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #555555;
  }

  &__quantity {
    font-family: "Open Sans";
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #555555;
  }

  &__subtotal {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #555555;
  }

  &__text {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 24px;
    color: #555555;
  }

  &__Allprice {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  &__payment {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  &__button {
    background: #43be65;
    width: 299px;
    height: 33px;
    border: 1px solid #ffffff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 19px;
    text-align: center;
  }

  &__btn {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 24px;
    color: #ffffff;
  }

  &__row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  &__quant {
    display: flex;
  }
}
