.color {
  & {
    margin-bottom: 28px;
  }

  &__columns {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 28px;

    @media (max-width: 440px) {
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(2, 1fr);
      gap: 10px;
    }
  }

  &__column-one {
    position: relative;
  }

  &__column-two {
    position: relative;
  }

  &__title {
    font-family: "Open Sans";
    font-weight: 600;
    font-size: 36px;
    line-height: 40px;
    color: #555555;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 40px;

    @media (max-width: 768px) {      
        font-size: 26px;
        margin-bottom: 26px;      
    }  
  
    @media (max-width: 440px) {      
        margin-bottom: 10px;     
    }
  } 

  &__pic {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  &__link-one {
    font-family: "Open Sans";
    font-weight: 600;
    font-size: 28px;
    line-height: 39px;
    color: #fff;
    text-decoration: underline;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%);

    @media (max-width: 768px) {      
        font-size: 14px;      
    }

    @media (max-width: 440px) {      
        font-size: 10px;      
    }
  }  

  &__link-two {
    font-family: "Open Sans";
    font-weight: 600;
    font-size: 28px;
    line-height: 39px;
    color: #fff;
    text-decoration: underline;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%);

    @media (max-width: 768px) {    
        font-size: 14px;      
    }
  
    @media (max-width: 440px) {      
        font-size: 10px;     
    }
  } 

}