.face {
  & {
    margin-bottom: 28px;
  }

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 28px;

    @media (max-width: 440px) {      
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;     
    }

  } 

  &__column {
    position: relative;
  }

  &__title {
    font-family: "Open Sans";
    font-weight: 600;
    font-size: 36px;
    line-height: 40px;
    color: #555555;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 40px;

    @media (max-width: 768px) {      
        font-size: 26px;
        margin-bottom: 26px;      
    }
  
    @media (max-width: 440px) {      
        margin-bottom: 10px;      
    }

  }

  &__subtitle {
    position: absolute;
    text-align: center;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);

    @media (max-width: 768px) {      
        bottom: 100px;      
    }
  
    @media (max-width: 440px) {      
        bottom: 20px;      
    }

  }  

  &__h2 {
    font-family: "Open Sans";
    font-weight: 600;
    font-size: 36px;
    line-height: 39px;
    text-transform: uppercase;
    color: #fff;

    @media (max-width: 991px) {      
        font-size: 26px;      
    }
  
    @media (max-width: 440px) {      
        font-size: 20px;
        line-height: 10px;     
    }
  } 

  &__picture {
    border: 1px solid #e5e5e5;
    margin-bottom: 20px;
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__link-one {
    font-family: "Open Sans";
    font-weight: 600;
    font-size: 18px;
    line-height: 39px;
    color: #fff;
    text-decoration: underline;

    @media (max-width: 991px) {      
        font-size: 14px;      
    }
  } 

  &__text {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: 1px;
    color: #555555;
    text-align: center;
  }

  &__price {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #555555;
    text-align: center;
    margin-bottom: 10px;
  }

  &__item {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 28px;
  }

  &__carousel-pic {
    max-width: 100%;
    height: auto;
    object-fit: cover;
  }

  &__button {
    width: 100%;
    height: auto;
    background: #a29c9c;
    border: 1px solid #ffffff;
    box-shadow: 0px 2px 4px rgb(0 0 0 / 25%);
    border-radius: 19px;
    text-align: center;
    margin-bottom: 5px;
  }

  &__btn {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 1px;
    text-transform: lowercase;
    color: #fff;
  }
}
