.face {

  & {
    margin-bottom: 28px;
  }

  &__columns {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 28px;
  }

  @media (max-width: 440px) {
    &__columns {
      grid-template-columns: repeat(1, 1fr);
      column-gap: 10px;
    }
  }

  &__column-one {
    position: relative;
  }

  &__title {
    font-family: "Open Sans";
    font-weight: 600;
    font-size: 36px;
    line-height: 40px;
    color: #555555;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 40px;
  }

  @media (max-width: 768px) {
    &__title {
      font-size: 26px;
      margin-bottom: 26px;
    }
  }

  @media (max-width: 440px) {
    &__title {
      margin-bottom: 10px;
    }
  }

  &__subtitle {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%);
  }

  @media (max-width: 768px) {
    &__subtitle  {
      top: 50%;
    }
  }

  &__h2 {
    font-family: "Open Sans";
    font-weight: 600;
    font-size: 36px;
    line-height: 39px;
    text-transform: uppercase;
    color: #fff;
  }

  @media (max-width: 440px) {
    &__h2 {
      font-size: 20px;
      line-height: 10px;
    }
  }

  &__picture {
    border: 1px solid #e5e5e5;
    margin-bottom: 20px;
  }

  &__pic {
    width: 100%;
    height: auto;
    object-fit: cover;
  }  

  &__link-one {
    font-family: "Open Sans";
    font-weight: 600;
    font-size: 18px;
    line-height: 39px;
    color: #fff;
    text-decoration: underline;
  }

  @media (max-width: 768px) {
    &__link-one {
      font-size: 14px;
    }
  }

  &__text {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: 1px;
    color: #555555;
    text-align: center;
  }

  &__price {     
      font-family: "Open Sans";
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 24px;
      color: #555555;
      text-align: center;
      margin-bottom: 10px;
  }  

  &__column-two {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 28px;
  } 

  &__carousel-pic {
    max-width: 100%;
    height: auto;
    object-fit: cover;
  }

  &__button {
    width: 100%;
    height: auto;
    background: #a29c9c;
    border: 1px solid #ffffff;
    box-shadow: 0px 2px 4px rgb(0 0 0 / 25%);
    border-radius: 19px;
    text-align: center;
    margin-bottom: 5px;
  }
  
  &__btn {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 1px;
    text-transform: lowercase;
    color: #fff;
  }

}
