.header {
  @media (max-width: 820px) {
    & {
      position: sticky;
      top: 0;
      z-index: 999;
      width: 100%;
      background: rgb(255 255 255);
    }
  }

  &__wrapper {
    display: grid;
    grid-template-areas: "a a a";
    justify-content: space-between;
    align-items: center;
    padding: 22px 0;
    position: relative;
  }

  @media (max-width: 820px) {
    &__wrapper {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &__burger {
    display: none;
  }

  &__menu {
    display: none;
    position: absolute;
    top: 68px;
    left: 0;
    background: rgb(255 255 255 / 67%);
    width: 30%;
    height: auto;
  }

  &__menu.active {
    display: block;
  }

  @media (max-width: 820px) {
    &__burger {
      display: block;
      position: relative;
      width: 30px;
      height: 20px;
    }
  }

  &__ref {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000;
  }

  &__line {
    background-color: #555555;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    top: 9px;
    transition: all 0.3s ease-out 0s;
  }

  &__burger.active &__line {
    transform: scale(0);
  }

  &__burger::before {
    content: " ";
    background-color: #555555;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    top: 0;
    transition: all 0.3s ease-out 0s;
  }

  &__burger.active:before {
    transform: rotate(45deg);
    top: 9px;
  }

  &__burger::after {
    content: " ";
    background-color: #555555;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    bottom: 0;
    transition: all 0.3s ease-out 0s;
  }

  &__burger.active::after {
    transform: rotate(-45deg);
    bottom: 9px;
  }

  &__phone {
    display: grid;
  }

  @media (max-width: 820px) {
    &__phone {
      display: none;
    }
  }

  &__tel {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #555555;
  }

  &__btn {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 24px;
    letter-spacing: 1px;
    text-align: center;
    color: #555555;
    border: 1px solid #555555;
    border-radius: 19px;
    width: 100%;
  }

  &__column {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }

  @media (max-width: 820px) {
    &__column {
      text-align: end;
    }
  }

  &__img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  &__row {
    padding-right: 30px;
  }

  &__row:last-child {
    padding-right: 0;
  }

  &__row-search {
    position: relative;
  }

  &__count {
    display: none;
  }

  @media (max-width: 820px) {
    &__row {
      padding-right: 10px;
    }
  }

  &__form {
    border: 1px solid rgb(190, 187, 187);
    background: #80808059;
    border-radius: 12px;
    width: 500px;
    height: 62px;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    position: absolute;
    top: 26px;
    right: 37px;
    display: none;
    z-index: 99;
  }

  @media (max-width: 640px) {
    &__form {
      width: auto;
    }
  }

  @media (max-width: 440px) {
    &__form {
      height: 40px;
    }
  }

  &__form-active {
    display: block;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr;
  }

  &__input {
    font-size: 20px;
    background: #80808059;
    border: 1px solid #4c4c3c;
    outline: none;
    cursor: pointer;
    padding: 8px;
    margin-left: 10px;
    border-radius: 12px 0 0 12px;
  }

  &__input::placeholder {
    color: #555555;
  }

  @media (max-width: 640px) {
    &__input {
      padding: 4px;
      margin-left: 5px;
    }
  }

  @media (max-width: 440px) {
    &__input {
      font-size: 14px;
      width: 150px;
    }
  }

  &__button {
    font-size: 20px;
    background: #80808059;
    color: #555555;
    border: 1px solid #4c4c3c;
    padding: 8px;
    margin-right: 10px;
    border-radius: 0 12px 12px 0;
  }

  @media (max-width: 640px) {
    &__button {
      padding: 4px;
      margin-right: 5px;
    }
  }

  @media (max-width: 440px) {
    &__button {
      font-size: 14px;
    }
  }
}
