.katalog {
  &__wrapper {
    margin-bottom: 50px;
  }

  @media (max-width: 440px) {
    &__wrapper {
      margin-bottom: 15px;
    }
  }

  &__wrapper:last-child {
    margin-bottom: 40px;
  }

  @media (max-width: 440px) {
    &__wrapper:last-child {
      margin-bottom: 10px;
    }
  }

  &__title {
    font-family: "Open Sans";
    font-weight: 600;
    font-size: 36px;
    line-height: 40px;
    color: #555555;
    text-align: center;
    text-transform: uppercase;
  }

  @media (max-width: 768px) {
    &__title {
      font-size: 26px;
    }
  }

  &__see {
    font-family: "Open Sans";
    font-weight: 600;
    font-size: 20px;
    line-height: 39px;
    color: #555555;
    text-decoration: underline;
    text-align: end;
    display: block;
    margin-bottom: 10px;
  }

  @media (max-width: 768px) {
    &__see {
      font-size: 14px;
    }
  }

  &__pic {
    width: 100%;
    height: auto;
    object-fit: contain;
  }

  &__link {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #555555;
  }

  @media (max-width: 440px) {
    &__link {
      font-size: 7px;
      line-height: 10px;
    }
  }

  &__prev-button {
    color: #b78595;
  }

  &__next-button {
    color: #b78595;
  }
}
