.skin {
  &__vollare {
    margin-bottom: 40px;
  }

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 28px;

    @media (max-width: 440px) {      
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 10px;     
    }
  }

  @media (max-width: 440px) {
    &__wrapper-reverses {
      grid-template-areas:
        "a"
        "b";
    }
  }

  &__column {
    border: 1px solid #a19c9c47;
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__column {
    position: relative;
  }

  &__subtitle {
    position: absolute;
    text-align: center;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);

    @media (max-width: 768px) {      
        bottom: 100px;      
    }
  
    @media (max-width: 440px) {      
        bottom: 20px;    
    }

  }

  &__h2 {
    font-family: "Open Sans";
    font-weight: 600;
    font-size: 36px;
    line-height: 39px;
    text-transform: uppercase;
    color: #fff;

    @media (max-width: 991px) {      
        font-size: 26px;      
    }
  
    @media (max-width: 440px) {      
        font-size: 20px;
        line-height: 10px;    
    }

  }
  
  &__link {
    font-family: "Open Sans";
    font-weight: 600;
    color: #fff;
    font-size: 18px;
    line-height: 39px;
    text-decoration: underline;

    @media (max-width: 768px) {      
        font-size: 13px;
        line-height: 0;      
    }

    @media (max-width: 440px) {     
        font-size: 10px;      
    }

  }  

  &__title {
    font-family: "Open Sans";
    font-weight: 600;
    font-size: 36px;
    line-height: 40px;
    color: #555555;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 40px;
  }

  &__carousel {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 28px;

    @media (max-width: 440px) {      
        grid-area: b;      
    }
    
  }
 
}
